@using FinalProcetStudent.ViewModel
@model RegisterVm
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xs-12 col-lg-6 mb--30 mb-lg--0 mx-auto">
                <!-- Registration Form -->
                <form method="post">
                    <div class="login-form">
                        <h4 class="login-title">REGISTER</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter your full name" />
                                <span asp-validation-for="Name" style="color:red"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Surname">Surname</label>
                                <input asp-for="Surname" class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter your full name" />
                                <span asp-validation-for="Surname" style="color:red"></span>
                            </div>      <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Username">UserName</label>
                                <input asp-for="Username" class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter your full name" />
                                <span asp-validation-for="Username" style="color:red"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="mb-0 form-control" type="text" id="name"
                                       placeholder="Enter your Email" />
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Password">ConfrimPassword</label>
                                <input asp-for="Password" class="mb-0 form-control" id="name"
                                       placeholder="Enter your ConfrimPassword" />
                                <span asp-validation-for="Password" style="color:red"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="ConfirmPassword">ConfrimPassword</label>
                                <input asp-for="ConfirmPassword" class="mb-0 form-control" id="name"
                                       placeholder="Enter your ConfrimPassword" />
                                <span asp-validation-for="ConfirmPassword" style="color:red"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15" asp-validation-summary="All">
                                <button asp-action="Register" type="submit" asp-controller="Account" class="btn btnbadge-outlined">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>