@using ProiniaSite.Models
@model List<Setting>

<h2>Settings</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var setting in Model)
        {
            <tr>
                <td>@setting.Key</td>
                <td>@setting.Value</td>
                <td>
                    <a asp-action="Update" asp-route-id="@setting.Id" class="btn btn-dark">Update</a>
                    <a asp-action="Delete" asp-route-id="@setting.Id" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
