@using Carvilla.Areas.Manage.ViewModels
@model CarCreateVm
<div class="row">
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control">
    </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" class="form-control">
        </div>
        <div class="form-group" asp-validation-summary="All">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>