 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Diana – Furniture Store eCommerce Bootstrap5 Template</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Headroom CSS ==-->
    <link href="~/assets/css/headroom.css" rel="stylesheet" />
    <!--== Animate CSS ==-->
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <!--== Font Awesome Icon CSS ==-->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== Bardy Icon CSS ==-->
    <link href="~/assets/css/bardy.icon.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="~/assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="~/assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Slicknav Min CSS ==-->
    <link href="~/assets/css/slicknav.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="~/assets/css/aos.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--wrapper start-->
    <div class="wrapper">

        <!--== Start Preloader Content ==-->
        <div class="preloader-wrap">
            <div class="preloader">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--== End Preloader Content ==-->
        <!--== Start Top Notification Wrapper ==-->

        <!--== End Top Notification Wrapper ==-->
        <!--== Start Header Wrapper ==-->
        <header class="header-area header-default sticky-header">
            <div class="container">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col">
                        <div class="header-logo-area">
                            <a href="index.html">
                                <img class="logo-main" src="~/assets/img/logo-light" alt="Logo" />
                                <img class="logo d-none" src="~/assets/img/logo-light" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="header-navigation-area">
                            <ul class="main-menu nav">
                                <li class="has-submenu">
                                    <a href="#/"><span>Home</span></a>
                                    <ul class="submenu-nav">
                                        <li><a href="index.html">Home - 1</a></li>
                                        <li><a href="index-two.html">Home - 2</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu full-width">
                                    <a href="#/"><span>Shop</span></a>
                                    <ul class="submenu-nav submenu-nav-mega">
                                        <li class="mega-menu-item">
                                            <a href="#/" class="mega-title">Collection 01</a>
                                            <ul>
                                                <li><a href="shop-single-name-1.html">New and sale badge product</a></li>
                                                <li><a href="shop-single-name-1.html">New badge product</a></li>
                                                <li><a href="shop-single-name-1.html">Variable product</a></li>
                                                <li><a href="shop-single-name-1.html">Soldout product</a></li>
                                                <li><a href="shop-single-name-1.html">Simple product</a></li>
                                                <li><a href="shop-single-name-1.html">Dummy product name</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#/" class="mega-title">Collection 02</a>
                                            <ul>
                                                <li><a href="shop-single-name-1.html">Variable with soldout product</a></li>
                                                <li><a href="shop-single-name-1.html">Sample affiliate product</a></li>
                                                <li><a href="shop-single-name-1.html">Countdown product</a></li>
                                                <li><a href="shop-single-name-1.html">Without shortcode product</a></li>
                                                <li><a href="shop-single-name-1.html">Demo product title</a></li>
                                                <li><a href="shop-single-name-1.html">Product dummy title</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <a href="#/" class="mega-title">Collection 03</a>
                                            <ul>
                                                <li><a href="shop-single-name-1.html">Dummy product name</a></li>
                                                <li><a href="shop-single-name-1.html">Dummy text for title</a></li>
                                                <li><a href="shop-single-name-1.html">Product title here</a></li>
                                                <li><a href="shop-single-name-1.html">Simple product</a></li>
                                                <li><a href="shop-single-name-1.html">Product with video</a></li>
                                                <li><a href="shop-single-name-1.html">Dummy text for title</a></li>
                                            </ul>
                                        </li>
                                        <li class="mega-menu-item">
                                            <ul>
                                                <li><a href="#/"><img src="~/assets/img/shop/banner/2.jpg" alt="Image-HasTech"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#/"><span>Products</span></a>
                                    <ul class="submenu-nav">
                                        <li><a href="shop-single-new.html">New and sale badge product</a></li>
                                        <li><a href="shop-single-badge.html">New badge product</a></li>
                                        <li><a href="shop-single.html">Variable product</a></li>
                                        <li><a href="shop-single-soldout.html">Soldout product</a></li>
                                        <li><a href="shop-single-simple.html">Simple product</a></li>
                                        <li><a href="shop-single-variable-soldout.html">Variable with soldout product</a></li>
                                        <li><a href="shop-single-affiliate.html">Sample affiliate product</a></li>
                                        <li><a href="shop-single-countdown.html">Countdown product</a></li>
                                        <li><a href="shop-single-shortcode.html">Without shortcode product</a></li>
                                        <li><a href="shop-single-video.html">Product with video</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#/"><span>Pages</span></a>
                                    <ul class="submenu-nav">
                                        <li class="has-submenu">
                                            <a href="#">Shop</a>
                                            <ul class="submenu-nav">
                                                <li><a href="shop-3-grid.html">Shop 3 Column</a></li>
                                                <li><a href="shop-4-grid.html">Shop 4 Column</a></li>
                                                <li><a href="shop.html">Shop Left Sidebar</a></li>
                                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                                <li><a href="shop-list.html">Shop Listing View</a></li>
                                                <li><a href="shop-list-left-sidebar.html">Shop List left Sidebar</a></li>
                                                <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop-size-chart.html">Size chart</a></li>
                                        <li><a href="shop-shipping-policy.html">Shipping policy</a></li>
                                        <li><a href="about.html">About</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu">
                                    <a href="#/"><span>Blog</span></a>
                                    <ul class="submenu-nav">
                                        <li><a href="blog.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-grid.html">Blog Grid Layout</a></li>
                                        <li><a href="single-blog.html">Single Blog Left Sidebar</a></li>
                                        <li><a href="single-blog-right-sidebar.html">Single Blog Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html"><span>Contact</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="header-action-area">
                            <ul class="header-action">
                                <li class="currency-menu">
                                    <a class="title" href="javascript:;">USD</a>
                                    <ul class="currency-dropdown">
                                        <li class="currency">
                                            <ul>
                                                <li class="active"><a href="#/">USD - US Dollar</a></li>
                                                <li class="#/"><a href="#/">EUR - Euro</a></li>
                                                <li class="#/"><a href="#/">GBP - British Pound</a></li>
                                                <li class="#/"><a href="#/">INR - Indian Rupee</a></li>
                                                <li class="#/"><a href="#/">USD - Bangladesh Taka</a></li>
                                                <li class="#/"><a href="#/">JPY - Japan Yen</a></li>
                                                <li class="#/"><a href="#/">CAD - Canada Dollar</a></li>
                                                <li class="#/"><a href="#/">AUD - Australian Dollar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="header-action">
                                <li class="user-menu">
                                    <a class="title" href="javascript:;"><i class="fa fa-user-o"></i></a>
                                    <ul class="user-dropdown">
                                        <li class="user">
                                            <ul>
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <li >
                                                        <a class="dropdown-item">@User.Identity.Name</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">LogOut</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Register" asp-controller="Account">Register</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" asp-action="Login" asp-controller="Account" asp-route-returnurl=@Context.Request.Path>Login</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                            <div class="header-action">
                                <div class="header-search">
                                    <button class="search-toggle">
                                        <i class="search-icon bardy bardy-search"></i>
                                        <i class="close-icon bardy bardy-cancel"></i>
                                    </button>
                                    <div class="header-search-form">
                                        <form action="#">
                                            <input type="search" placeholder="Search our store">
                                            <button type="submit"><i class="bardy bardy-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action">
                                <div class="header-mini-cart">
                                    <button class="mini-cart-toggle">
                                        <i class="icon bardy bardy-shopping-cart"></i>
                                        <span class="number">2</span>
                                    </button>
                                    <div class="mini-cart-dropdown">
                                        <h4 class="cart-title">Your cart</h4>
                                        <div class="cart-item-wrap">
                                            <div class="cart-item">
                                                <div class="thumb">
                                                    <a href="#/"><img class="w-100" src="~/assets/img/shop/cart/mini1.jpg" alt="Image-HasTech"></a>
                                                    <a class="remove" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="#/">5. Simple product</a></h5>
                                                    <span>1 x Tk 50.00</span>
                                                </div>
                                            </div>
                                            <div class="cart-item">
                                                <div class="thumb">
                                                    <a href="#/"><img class="w-100" src="~/assets/img/shop/cart/mini2.jpg" alt="Image-HasTech"></a>
                                                    <a class="remove" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="#/">2. New badge product - m / gold</a></h5>
                                                    <span>1 x Tk 80.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini-cart-footer">
                                            <h4>Subtotal: <span class="total">Tk 130.00</span></h4>
                                            <div class="cart-btn">
                                                <a href="shop-cart.html">View Cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action d-block d-lg-none text-end">
                                <button class="btn-menu" type="button"><i class="zmdi zmdi-menu"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--== End Header Wrapper ==-->
        
        @RenderBody()

    

        @await Component.InvokeAsync("Footer");
            <!--== Start Footer Bottom ==-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="copyright">Copyright © <a target="_blank" href="https://hasthemes.com/">Diana</a> All Right Reserved.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="payment-method">
                                <img src="~/assets/img/icons/payment.webp" alt="Image-HasTech">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Footer Bottom ==-->
        </footer>
        <!--== End Footer Area Wrapper ==-->
        <!--== Scroll Top Button ==-->
        <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

        <!--== Start Quick View Menu ==-->
        <aside class="product-quick-view-modal">
            <div class="product-quick-view-inner">
                <div class="product-quick-view-content">
                    <button type="button" class="btn-close">
                        <span class="close-icon"><i class="fa fa-close"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="thumb">
                                <img src="~/assets/img/shop/quick-view1.jpg" alt="Alan-Shop">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="content">
                                <h4 class="title">3. Variable product</h4>
                                <div class="prices">
                                    <del class="price-old">$85.00</del>
                                    <span class="price">$70.00</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>
                                <div class="quick-view-select">
                                    <div class="quick-view-select-item">
                                        <label for="forSize" class="form-label">Size:</label>
                                        <select class="form-select" id="forSize" required>
                                            <option selected value="">s</option>
                                            <option>m</option>
                                            <option>l</option>
                                            <option>xl</option>
                                        </select>
                                    </div>
                                    <div class="quick-view-select-item">
                                        <label for="forColor" class="form-label">Color:</label>
                                        <select class="form-select" id="forColor" required>
                                            <option selected value="">red</option>
                                            <option>green</option>
                                            <option>blue</option>
                                            <option>yellow</option>
                                            <option>white</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="action-top">
                                    <div class="pro-qty">
                                        <input type="text" id="quantity2" title="Quantity" value="1" />
                                    </div>
                                    <button class="btn btn-black">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-overlay"></div>
        </aside>
        <!--== End Quick View Menu ==-->
        <!--== Start Side Menu ==-->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-inner">
                <div class="off-canvas-overlay"></div>
                <!-- Start Off Canvas Content Wrapper -->
                <div class="off-canvas-content">
                    <!-- Off Canvas Header -->
                    <div class="off-canvas-header">
                        <div class="close-action">
                            <button class="btn-menu-close">menu <i class="fa fa-chevron-left"></i></button>
                        </div>
                    </div>

                    <div class="off-canvas-item">
                        <!-- Start Mobile Menu Wrapper -->
                        <div class="res-mobile-menu menu-active-one">
                            <!-- Note Content Auto Generate By Jquery From Main Menu -->
                        </div>
                        <!-- End Mobile Menu Wrapper -->
                    </div>
                </div>
                <!-- End Off Canvas Content Wrapper -->
            </div>
        </aside>
        <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->
    <!--=== jQuery Modernizr Min Js ===-->
    <script src="~/assets/js/modernizr.js"></script>
    <!--=== jQuery Min Js ===-->
    <script src="~/assets/js/jquery-main.js"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="~/assets/js/jquery-migrate.js"></script>
    <!--=== jQuery Popper Min Js ===-->
    <script src="~/assets/js/popper.min.js"></script>
    <!--=== jQuery Bootstrap Min Js ===-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--=== jQuery Appear Js ===-->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!--=== jQuery Headroom Min Js ===-->
    <script src="~/assets/js/headroom.min.js"></script>
    <!--=== jQuery Swiper Min Js ===-->
    <script src="~/assets/js/swiper.min.js"></script>
    <!--=== jQuery Fancybox Min Js ===-->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!--=== jQuery Slick Nav Js ===-->
    <script src="~/assets/js/slicknav.js"></script>
    <!--=== jQuery Waypoint Js ===-->
    <script src="~/assets/js/waypoint.js"></script>
    <!--=== jQuery Parallax Min Js ===-->
    <script src="~/assets/js/parallax.min.js"></script>
    <!--=== jQuery Aos Min Js ===-->
    <script src="~/assets/js/aos.min.js"></script>
    <!--=== jQuery Countdown Js ===-->
    <script src="~/assets/js/countdown.js"></script>

    <!--=== jQuery Custom Js ===-->
    <script src="~/assets/js/custom.js"></script>

</body>

</html>