@using DianaTemp.Areas.ViewModels
@using DianaTemp.Models
@model UpdateProductVm
<div class="container" style="margin-top: 100px">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-4">
                <label asp-for="Name" class="form-label">Name</label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Price" class="form-label">Price</label>
                <input class="form-control" asp-for="Price">
                <span asp-validation-for="Price" style="color:red"></span>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="mb-3 col-md-4">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="CategoryId" class="form-label">Categories</label>
                <select class="form-select" asp-for="CategoryId" asp-items="new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name))">
                    <option selected>Open this selecet menu</option>

                </select>

                <span asp-validation-for="CategoryId" style="color:red"> </span>
            </div>
            <div class="mb-3 col-sm-3">
                <label class="form-label">Color</label>
                <select class="form-select" aria-label="Default select example" asp-for="ColorIds" asp-items="new SelectList(ViewBag.Colour, nameof(Colour.Id), nameof(Colour.Name))">
                </select>
                <span asp-validation-for="ColorIds" style="color:red"></span>
            </div>
            <div class="mb-3 col-sm-3">
                <label class="form-label">Material</label>
                <select class="form-select" aria-label="Default select example" asp-for="MaterialsIds" asp-items="new SelectList(ViewBag.Material, nameof(Material.Id), nameof(Material.Name))">
                </select>
                <span asp-validation-for="MaterialsIds" style="color:red"></span>
            </div>
            <div class="mb-3 col-sm-3">
                <label class="form-label">Size</label>
                <select class="form-select" aria-label="Default select example" asp-for="SizeIds" asp-items="new SelectList(ViewBag.Size, nameof(Size.Id), nameof(Size.Name))">
                </select>
                <span asp-validation-for="SizeIds" style="color:red"></span>
            </div>

        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <img class="img-fluid" src="~/Upload/Product/@(Model.ProductImages?.FirstOrDefault(p => p.IsPrime == true)?.ImgUrl)" />
                <label asp-for="MainPhoto" class="form-label">MainPhoto</label>
                <input asp-for="MainPhoto" class="form-control">
                <span asp-validation-for="MainPhoto" style="color:red"></span>
            </div>

        <div class="row">
            <div class="mb-3 col-md-3">
                @foreach (var item in Model.ProductImages.Where(p => p.IsPrime == null)?.ToList())
                {
                    <div class="col-3 mb-3 position-relative">
                        <img class="img-fluid" src="~/Upload/Product/@item.ImgUrl" alt="AdditionalPhoto" style="height: 100px; right:100px; width:100px;" />
                        <input type="hidden" value="@item.Id" name="ImageIds">
                        <button type="button" class="btn btn-danger custom-delete position-absolute" style="right: 0px; top: px;">X</button>
                    </div>
                }
                <label asp-for="Photos" class="form-label">Photos</label>
                <input asp-for="Photos" class="form-control" type="file" multiple>

                <span asp-validation-for="Photos" style="color:red"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    let btn = document.querySelectorAll(".custom-delete")
    btn.forEach(b => {
        b.addEventListener("click", function () {
            b.parentElement.remove()
        })
    })
</script>