<div class="container">
    <div class="row text-center">

        @if (ViewBag.IsSuccess)
        {
            <div class="alert alert-success" role="alert">
                Email Confirm success
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                Email Confirm unsuccessful
            </div>
        }

    </div>
</div>
